/* Html tags */

html, body {
    margin: 0;
    padding: 0;
    background: #000;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    font-smoothing: antiaiased; 
    -moz-font-smoothing: antiaiased; 
    -webkit-font-smoothing: antiaiased; 
    -o-font-smoothing: antiaiased; 
}

a {
    text-decoration: none;
}

input {
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #434343;;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #434343;;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #434343;;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #434343;;
}

/* Effects */

@-o-keyframes SonarEffect {
    0% {
    opacity: 0.1;
}
40% {
    opacity: 0.2;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.2);
}
100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.2);
    -o-transform: scale(1.5);
    opacity: 0;
}
}
@-webkit-keyframes SonarEffect {
    0% {
    opacity: 0.0;
}
40% {
    opacity: 0.1;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #eee, 0 0 0 10px rgba(255,255,255,0.2);
}
100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #eee, 0 0 0 10px rgba(255,255,255,0.2);
    -webkit-transform: scale(1.5);
    opacity: 0;
}
}
@-moz-keyframes SonarEffect {
    0% {
    opacity: 0.1;
}
40% {
    opacity: 0.2;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.2);
}
100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.2);
    -moz-transform: scale(1.5);
    opacity: 0;
}
}
@keyframes SonarEffect {
    0% {
    opacity: 0.1;
}
40% {
    opacity: 0.2;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.2);
}
100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.2);
    transform: scale(1.5);
    opacity: 0;
}
}

.sonarEffect:after { 
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -icab-border-radius: 50%;
    border-radius: 50%;
    opacity: 1;
    box-shadow: none;
}

.sonarEffect.exec:after {
    -webkit-animation: SonarEffect .3s ease-out 75ms;
    -moz-animation: SonarEffect .3s ease-out 75ms;
    -o-animation: SonarEffect .3s ease-out 75ms;
    animation: SonarEffect .3s ease-out 75ms;
}

/* Classes / Ids */

#m-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: table;
}

#m-content-block {
    display: table-row;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#m-content-left {
    height: 100%;
    position: relative;
    overflow: hidden;
    display: table-cell;
}

#m-content-right {
    height: 100%;
    width: 330px;
    overflow: hidden;
    display: table-cell;
    background-color: #222;
    position: relative;
}

/* --- m-content-left */

/* --- m-template */ 

#m-cover {
    position: absolute; 
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

#m-cover img {
    min-width: 100%; 
    min-height: 100%;
    /*
 -webkit-filter: blur(2px);
-moz-filter: blur(2px);
-o-filter: blur(2px);
-ms-filter: blur(2px);
filter: blur(2px);
    */
}

#m-template {
    position: absolute;
        width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

/* --- m-player */ 

#m-player {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
}

#m-player-left-arrow, 
#m-player-right-arrow {
    width: 60px;
    height: 100%;
    position: absolute;
    cursor: pointer;
    display: none;
}

#m-player-left-arrow div, 
#m-player-right-arrow div {
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    filter:alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
}

#m-player-left-arrow .m-icon-container, 
#m-player-right-arrow .m-icon-container {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 18px;
    height: 30px;
    margin: -15px 0 0 -9px;
    filter:alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
}

#m-player-left-arrow .m-icon,
#m-player-right-arrow .m-icon {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

#m-player-left-arrow .m-icon {
    background: url(../img/left_arrow_hover.png) center center no-repeat;
}

#m-player-right-arrow .m-icon {
    background: url(../img/right_arrow_hover.png) center center no-repeat;
}

#m-player-left-arrow:hover .m-icon-container, 
#m-player-right-arrow:hover .m-icon-container {
    filter:alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

#m-player-left-arrow:active .m-icon {
    left: -1px;
}

#m-player-right-arrow:active .m-icon {
    padding-left: 1px;
    right: -1px;
}    

#m-player-left-arrow:hover div, 
#m-player-right-arrow:hover div {
    filter:alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}

#m-player-left-arrow {
    left: 0;
}

#m-player-right-arrow {
    right: 0;
}

#m-player .m-player-controls .m-button-play,
#m-player .m-player-controls .m-button-pause {
    width: 186px;
    height: 186px;
    border: 3px solid #fff;
    -moz-border-radius: 186px;
    -webkit-border-radius: 186px;
    -khtml-border-radius: 186px;
    -o-border-radius: 186px;
    -ms-border-radius: 186px;
    -icab-border-radius: 186px;
    border-radius: 186px;
    behavior: url(../behavior/ie-css3.htc);
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -93px 0 0 -93px;
    display: none;
}

#m-player .m-player-controls .m-button-play {
    background: url(../img/play_overlay.png) center center no-repeat;
    width: 186px;
    height: 186px;
}

#m-player .m-player-controls .m-button-pause {
    background: url(../img/pause_overlay.png) center center no-repeat;
    width: 186px;
    height: 186px;
}

/* --- m-content-right */

#m-content-right .m-actions {
    text-align: center;
    width: 100%;
}

#m-content-right .m-actions div {
    cursor: pointer;
    margin: 0 auto;
}

#m-content-right .m-actions .m-icon {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    position: relative;
    border: 2px solid #4c4c4c;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    -khtml-border-radius: 60px;
    -o-border-radius: 60px;
    -ms-border-radius: 60px;
    -icab-border-radius: 60px;
    border-radius: 60px;
    behavior: url(../behavior/ie-css3.htc);
    transition: border-color .3s ease-out, transition .3s, background-position .3s;
    -moz-transition: border-color .3s ease-out, -moz-transform 0.3s, background-position .3s;
    -webkit-transition: border-color .3s ease-out, -webkit-transform 0.3s, background-position .3s;
    -o-transition: border-color .3s ease-out, -o-transform 0.3s, background-position .3s;
}

#m-content-right .m-actions .m-effect {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 50%;
    top: 0;
    margin-left: -30px;
}

#m-content-right .m-actions .m-effect:after {

}

#m-content-right .m-actions .m-text {
    color: #434343;
    margin-top: 5px;
    transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    -webkit-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
}

#m-content-right .m-actions .m-action {
    position: relative;
}

#m-content-right .m-actions td {
    width: 33.33333%;
}

#m-content-right .m-actions .m-action-comment .m-icon {
    background: url(../img/comment_icon.png) 0 0 no-repeat;
}

#m-content-right .m-actions .m-action-comment:hover, 
#m-content-right .m-actions .m-action-comment.selected {

}

#m-content-right .m-actions .m-action-comment:hover .m-text, 
#m-content-right .m-actions .m-action-comment.selected .m-text {
    color: #169799;
}

#m-content-right .m-actions .m-action-comment:hover .m-icon, 
#m-content-right .m-actions .m-action-comment.selected .m-icon {
    background-position: 0 -60px;
    border-color: #169799;

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#m-content-right .m-actions .m-action-like:hover, 
#m-content-right .m-actions .m-action-like.selected {

}
#m-content-right .m-actions .m-action-like:hover .m-text, 
#m-content-right .m-actions .m-action-like.selected .m-text {
    color: #E74C3C;
}

#m-content-right .m-actions .m-action-like .m-icon {
    background: url(../img/like_icon.png) 0 0 no-repeat;
}

#m-content-right .m-actions .m-action-like:hover .m-icon, 
#m-content-right .m-actions .m-action-like.selected .m-icon {
    background-position: 0 -60px;
    border-color: #E74C3C;

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#m-content-right .m-actions .m-action-download:hover, 
#m-content-right .m-actions .m-action-download.selected {

}

#m-content-right .m-actions .m-action-download:hover .m-text, 
#m-content-right .m-actions .m-action-download.selected .m-text {
    color: #169799;
}

#m-content-right .m-actions .m-action-download .m-icon {
    background: url(../img/download_icon.png) 0 0 no-repeat;
}

#m-content-right .m-actions .m-action-download:hover .m-icon, 
#m-content-right .m-actions .m-action-download.selected .m-icon {
    background-position: 0 -60px;
    border-color: #169799;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


/* --- m-introduce */ 

#m-introduce {
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 1000;
}

#m-introduce .m-logo {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

#m-introduce .m-logo:hover {

}

#m-introduce .m-button-login,
#m-introduce .m-button-logout {
    color: #1dc9cc;
    position: absolute;
}

#m-introduce .m-button-login {
    right: 10px;
    top: 10px;
}

#m-introduce .m-button-logout {
    display: none;
}

/* --- m-panel */ 

#m-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    z-index: 10;
}

#m-panel > table {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#m-panel .m-panel-row1 {
    height: 50px;
    vertical-align: top;
} 

#m-panel .m-panel-row2 {

} 

#m-panel .m-panel-row3 {
    height: 126px;
}

#m-panel .m-panel-row4 {
    height: 50px;
} 

#m-panel .m-panel-row5 {

}

#m-panel .m-panel-row6 {
    height: 50px;
    vertical-align: top;
}

#m-panel td { 
    position: relative;
}

#m-panel .m-user-information {
    text-align: center;
}

#m-panel .m-user-information .m-title {
    font-size: 32px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#m-panel .m-user-information .m-author {
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#m-panel .m-user-information .m-geo {
    padding-left: 20px;
    padding-right: 20px;
}

#m-panel .m-user-information .m-geo span {
    background: url(../img/pin_icon.png) left center no-repeat;
    padding-left: 20px;
}

#m-panel .m-controls {
    width: 126px;
    height: 126px;
    margin: 0 auto;
    position: relative;
}

#m-panel .m-controls .m-button-play,
#m-panel .m-controls .m-button-pause {
    border: 3px solid #fff;
    -moz-border-radius: 126px;
    -webkit-border-radius: 126px;
    -khtml-border-radius: 126px;
    -o-border-radius: 126px;
    -ms-border-radius: 126px;
    -icab-border-radius: 126px;
    border-radius: 126px;
    behavior: url(../behavior/ie-css3.htc);
    cursor: pointer;
    position: absolute;
    width: 126px;
    height: 126px;
    left: 50%;
    margin-left: -63px;
    transition: transition .3s;
    -moz-transition: -moz-transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    display: none;
}

#m-panel .m-controls .m-button-play:hover,
#m-panel .m-controls .m-button-pause:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

#m-panel .m-controls .m-button-play {
    background: #1A1A1A url(../img/Play_btn.png) center center no-repeat;
}

#m-panel .m-controls .m-button-pause {
    background: #1A1A1A url(../img/Pause_btn.png) center center no-repeat;
    display: none;
}

#m-panel .m-controls .m-button-loading {
    display: block;
    width: 126px;
    height: 126px;
    background: url(../img/loading_small.gif) center 40px no-repeat;
    border: 3px solid #fff;
    -moz-border-radius: 126px;
    -webkit-border-radius: 126px;
    -khtml-border-radius: 126px;
    -o-border-radius: 126px;
    -ms-border-radius: 126px;
    -icab-border-radius: 126px;
    border-radius: 126px;
    behavior: url(../behavior/ie-css3.htc);
}

#m-panel .m-controls .m-button-loading .m-text {
    font-size: 14px;
    color: #fff;
    display: block;
    margin: 70px auto 0 auto;
    text-align: center;
}

#m-panel .m-slideshow-information {
    color: #434343;
    text-align: center;
    display: none;
}

#m-panel .m-button-applestore,
#m-panel .m-button-googleplay { 
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #073233;
    cursor: pointer;
}

#m-panel .m-button-applestore:hover,
#m-panel .m-button-googleplay:hover {

}

#m-panel .m-button-applestore .m-icon,
#m-panel .m-button-googleplay .m-icon { 
    display: block;
    width: 112px;
    height: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -12px 0 0 -56px;
}

#m-panel .m-button-applestore {
    bottom: 0;
}

#m-panel .m-button-applestore .m-icon {
    background: url(../img/AppStore.png) 0 0 no-repeat;
}

#m-panel .m-button-applestore:hover .m-icon {
    background: url(../img/AppStore.png) -112px 0 no-repeat;
}

#m-panel .m-button-applestore:active .m-icon {

}

#m-panel .m-button-googleplay {
    display: none;
    bottom: 50px;
}

#m-panel .m-button-googleplay .m-icon {

}

#m-panel .m-button-googleplay:hover .m-icon {

}

#m-panel .m-button-googleplay:active .m-icon {

}

/* --- m-comments */ 

#m-comments {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}

#m-comments > table {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#m-comments .m-comments-row1 {
    height: 50px;
    vertical-align: top;
} 

#m-comments .m-comments-row2 {
    height: 10px;
} 

#m-comments .m-comments-row3 {

}

#m-comments .m-comments-row4 {
    height: 100%;
    vertical-align: top;
} 

#m-comments .m-comments-row5 {

}

#m-comments .m-comments-row6 {
    height: 50px;
    vertical-align: top;
}

#m-comments td { 
    position: relative;
}

#m-comments .m-comment-inline { 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #073233;
    cursor: pointer;
}

#m-comments .m-comment-add {
    background: url(../img/ic_enter.png) center center no-repeat;
    position: absolute;
    right: 8px;
    top: 8px;
    bottom: 8px;
    width: 42px;
    cursor: pointer;
}

#m-comments .m-comment-inline input[type="text"] {
    position: absolute;
    left: 8px;
    right: 58px;
    top: 8px;
    bottom: 8px;
    outline: none;
    padding: 8px;
    display: block
}

#m-comments .m-comment-list {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

#m-comments .m-comment-list li {
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    clear: both;
    float: none;
    overflow: hidden;
    border-top: 1px dotted #434343;
    font-size: 16px;
}

#m-comments .m-comment-list li .m-comment-user-cover {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
}

#m-comments .m-comment-list li .m-comment-user-cover img {
    width: 40px;
    height: 40px;
}

#m-comments .m-comment-list li .m-comment-user-message {
    overflow: hidden;
    position: relative;
    padding-left: 15px;
}

#m-comments .m-comment-list li .m-comment-user-message .m-comment-user-author {

}

#m-comments .m-comment-list li .m-comment-user-message .m-comment-user-text {
    font-style: italic;
}

#m-comments .m-comment-list li .m-comment-user-message .m-comment-user-data {
    color: #434343;
    font-size: 12px;
}

#m-comments .m-comment-label {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #555555;
}